{
  "tapo": {
    "username": "mail@gmail.com",
    "password": "pass"
  },
  "devices": [
    {
      "name": "Tapo P115 #1",
      "ip": "192.168.1.137"
    },
    {
      "name": "Tapo P115 #2",
      "ip": "192.168.1.157"
    },
    {
      "name": "Tapo P115 #3",
      "ip": "192.168.1.211"
    },
    {
      "name": "Tapo P115 #4",
      "ip": "192.168.1.220"
    }
  ],
  "max_limit_watt": 800,
  "base_load_watt": 8,
  "ecoflow": {
    "api_key": "key",
    "secret_key": "secret",
    "serial_number": "SN"
  }
}
